<h1>Flights Booker</h1>
<hr>
<%= params %>

<h2>Dropdown menus:</h2>
<%= form_with(url: "/flights", method: "get", local: true) do %>
  <p>
    <%= label_tag(:from_query, "Departing airport:") %>
    <%= select_tag(:from_query,
   options_from_collection_for_select(Airport.all, :id, :code))%>
  </p>
  <p>
    <%= label_tag(:to_query, "Arriving airport:") %>
    <%= select_tag(:to_query,
   options_from_collection_for_select(Airport.all, :id, :code))%>
  </p>
  <p>
    <%= label_tag(:num_of_passengers, "Number of passengers:") %>
    <%= select_tag(:num_of_passengers,
   options_for_select(@passenger_array))%>
  </p>
  <p>
    <%= label_tag(:departure_date, "Departure date:") %>
    <%= select_tag(:departure_date, options_for_select(@departure_date) ) %>
  </p>
  <%= submit_tag("Search") %>
<% end %>


<h3>Available flights:</h3>
<%= form_with(url: new_booking_path, method: "get", local: true) do %>
  <% @flights.each do |flight| %>
    <p>********</p>
    <p> From: <%= flight.from_airport.code %> </p>
    <p> To: <%= flight.to_airport.code %> </p>
    <p> Date: <%= flight.start_datetime %> </p>
    <p> Duration: <%= flight.flight_duration_in_seconds %> </p>
    <%= radio_button_tag(:picked_flight, flight.id) %>
    <%= label_tag(:picked_flight, "Pick this flight") %>
    <%= hidden_field_tag(:num_of_passengers, params[:num_of_passengers]) %>
  <% end %>
  <p> <%= submit_tag("Proceed") %> </p>
<% end %>

<hr>
<p>
  <%= params[:num_of_passengers] %>
</p>
